body{
  background: rgb(17 24 39);
  color: white;
}
li{
  padding: 15px;
}
li:hover{
  background-color: gray;
  border-radius: 20px;
}
.home{
    width: 90%;
    margin: auto;
}
.searchCategory{
    color: black;
}
.logo{
    filter: brightness(3) contrast(1.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}
.logo:hover {
  transform: scale(1.05);
  filter: brightness(4) contrast(1.2);
}
